<div class="py-16 px-4">
  <div>
    <h4>Health Challenge Tracker Form</h4>
  </div>
  <form [formGroup]="hctForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div>
          <label
            for="name"
            class="block mb-2 text-medium font-medium text-gray-900 dark:text-white"
            >Name</label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Kundan"
            required
          />
        </div>
      </div>

     
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="type"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Workout Type</label
              >
              <select
                id="type"
                formControlName="type"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Workout Type</option>
                <option value="Cycling">Cycling</option>
                <option value="Running">Running</option>
                <option value="Swimming">Swimming</option>
                <option value="Yoga">Yoga</option>
              </select>
            </div>
            <div>
              <label
                for="minutes"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Workout Minutes</label
              >
              <input
                type="number"
                id="minutes"
                formControlName="minutes"
                aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="60"
                required
              />
            </div>
          </div>
        
    </div>

    <div>
      <button type="submit" class="bg-[#7927ff] text-white font-semibold py-2 px-4 rounded mr-4">
        Submit
      </button>
    </div>
  </form>
</div>
